@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to HappyPet!</h2>

<p>
    <a href="@Url.Action("Index", "Product")">View Products</a> |
    <a href="@Url.Action("Index", "Basket", new { userId = 1 /* Replace with actual user ID */ })">View Basket</a>
</p>
